div {
    display: flex;
    gap: 20px;
    box-sizing: border-box;
    justify-content: center;
}

 .gameButtons {
    border-style: dotted;
    width: 200px;
    height: 200px;
    font-size: 150px;
} 

.emojiAndText {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap:0;
    font-weight: 900;
    font-size: 24px;
}

