.allButtons {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 40px;
    
}

.gameButtonGroup {
    display: flex;
    gap: 20px;
    box-sizing: border-box;
    justify-content: center;
}

 .gameButtons {
    /* border-style: dotted; */
    width: 200px;
    height: 200px;
    font-size: 150px;
} 

#startButton {
    width: 100px;
    height: 50px;
    align-self: center;
}

.emojiAndText {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap:0;
    font-weight: 900;
    font-size: 24px;
}

.scoreDivs {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
    box-sizing: border-box;
}

.outerScoreDiv {
    width: 200px;
    height: 200px;
    text-align: center;
}

#finalScore {
    align-self: center;
}